# Python virtual environments
venv/
.venv/
env/
ENV/
yolo_env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/





# Media files (can be large; ignore unless needed)
*.mp4
*.avi
*.mov


# IDE/editor settings
.vscode/
.idea/
